# Movie Data Analysis for Microsoft Studios
##  Business Understanding
Three recomendations for Microsoft for movie production studio debut Microsoft well known tech company is expanging into the film industry They would like to know what makes a high grossing movie

### Scharmaine Chappell 
Data Anyalyst

## Overview
What we'll do is coordinate internet sourced data from formadable movie database site, thenumbers.com 
in order to propose what direction Microsoft studios should go for their studio premier.
Key aspects valued are genre, location and gross values in comparison to initial production costs.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
import string
import sqlite3
import seaborn as sns

In [2]:
conn = sqlite3.connect("im.db")

## Data Description
Our data is gathered from the Internet Movie Database and The Numbers Websites.
I have chosen production budgets, domestic and world_wide gross numbers to create our database file to help us see why these factors should be considered.
The specific details I curated into the database will be discussed as we go into detail of what's measured and how we use it to address the needs of Microsoft Studios.

## Argument
The First measurement we use is production costs/budgets vs total gross values. Total gross includes domestic and worldwide gross revenues per film.

In [3]:
tn_movie_budgets = pd.read_csv("zippedData/tn.movie_budgets.csv.gz")
tn_movie_budgets.head()
#tn_movie_budgets.info()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [4]:
#reviewing column total entry numbers
tn_movie_budgets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

In [5]:
tn_movie_budgets.head(2)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"

## Cleaning Data
Now we will make remove unworkable punctians in our numberical values as well as convert them from objects to float types

In [6]:
tn_movie_budgets.domestic_gross = tn_movie_budgets.domestic_gross.apply(lambda x:x.replace('$','').replace(',','')).astype(float)
tn_movie_budgets.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000",760507625.0,"$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000",241063875.0,"$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000",42762350.0,"$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000",459005868.0,"$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000",620181382.0,"$1,316,721,747"

In [7]:
tn_movie_budgets.worldwide_gross = tn_movie_budgets.worldwide_gross.apply(lambda x:x.replace('$','').replace(',','')).astype(float)
tn_movie_budgets.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000",760507625.0,2.776345e+09
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000",241063875.0,1.045664e+09
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000",42762350.0,1.497624e+08
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000",459005868.0,1.403014e+09
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000",620181382.0,1.316722e+09

In [8]:
#remove $ & , from production_budget values
tn_movie_budgets.production_budget = tn_movie_budgets.production_budget.apply(lambda x:x.replace('$','').replace(',','')).astype(float)
tn_movie_budgets.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,425000000.0,760507625.0,2.776345e+09
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09
2,3,"Jun 7, 2019",Dark Phoenix,350000000.0,42762350.0,1.497624e+08
3,4,"May 1, 2015",Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,317000000.0,620181382.0,1.316722e+09

In [9]:
#creating total_gross values columns
tn_movie_budgets['total_gross'] = tn_movie_budgets['domestic_gross'] + tn_movie_budgets['worldwide_gross']
tn_movie_budgets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   float64
 4   domestic_gross     5782 non-null   float64
 5   worldwide_gross    5782 non-null   float64
 6   total_gross        5782 non-null   float64
dtypes: float64(4), int64(1), object(2)
memory usage: 316.3+ KB

In [10]:
tn_movie_budgets.production_budget = tn_movie_budgets.production_budget.apply(lambda x:x.replace('$','').replace(',','')).astype(float)
tn_movie_budgets.head()

AttributeError: 'float' object has no attribute 'replace'

In [ ]:
tn_movie_budgets.domestic_gross = tn_movie_budgets.domestic_gross.apply(lambda x:x.replace('$','').replace(',','')).astype(float)
tn_movie_budgets.head()

In [ ]:
tn_movie_budgets.worldwide_gross = tn_movie_budgets.worldwide_gross.apply(lambda x:x.replace('$','').replace(',','')).astype(float)
tn_movie_budgets.head()

In [ ]:
#find return on investement using total_gross & production budget
tn_movie_budgets['net_domestic'] =tn_movie_budgets['domestic_gross'] - tn_movie_budgets['production_budget']
tn_movie_budgets['net_beyond'] =tn_movie_budgets['worldwide_gross'] - tn_movie_budgets['production_budget']
tn_movie_budgets.head()

In [ ]:
tn_movie_budgets['net_dom_per'] = (tn_movie_budgets['domestic_gross'] / tn_movie_budgets['production_budget'])* 100
tn_movie_budgets['net_bey_per'] = (tn_movie_budgets['worldwide_gross'] / tn_movie_budgets['production_budget'])* 100
tn_movie_budgets['net_compare_per'] = (tn_movie_budgets['net_dom_per'] / tn_movie_budgets['net_bey_per'])* 100
tn_movie_budgets.head(2)

In [ ]:
tn_movie_budgets['title'] = tn_movie_budgets['movie']
tn_movie_budgets.info()

In [ ]:
tn_movie_budgets.head()

In [ ]:
#finding top 15 total gross values
#tn_top15_info = tn_movie_budgets.sort_values(['total_gross'], ascending = False).head(15)
#tn_top15_info

## Total Gross vs Production Budget

In [ ]:
sns.set_theme(style="darkgrid")

# # Initialize  matplotlib e
f, ax = plt.subplots(figsize=(6, 15), sharey=True)

# Load dataset
tn_top15_info = tn_movie_budgets.sort_values(['total_gross'], ascending = False).head(15)

# Plot the domestic gross values per title
sns.set_color_codes("bright")
sns.barplot(x="domestic_gross", y="title", data=top_15_by_gross,
            label="domestic", color="green")

#Plot budget
sns.set_color_codes("muted")
sns.barplot(x="production_budget", y="title", data=top_15_by_gross,
            label="Production Budget", color="yellow")

# Add legend
ax.legend(ncol=2, loc="lower right", frameon=True)
ax.set(xlim=len(top_15_by_gross), ylabel=" MOVIE ",
       xlabel="Gross in Millions")

In [ ]:
sns.set_theme(style="darkgrid")

# # Initialize  matplotlib 
f, ax = plt.subplots(figsize=(6, 15), sharey=True)

# Load  dataset
tn_top15_info = tn_movie_budgets.sort_values(['total_gross'], ascending = False).head(15)

# Plot the worldwide gross values per title
sns.set_color_codes("bright")
sns.barplot(x="worldwide_gross", y="title", data=top_15_by_gross,
            label="worldwide", color="red")

# Plot budget
sns.set_color_codes("muted")
sns.barplot(x="production_budget", y="title", data=top_15_by_gross,
            label="Production Budget", color="yellow")

# Add a legend
ax.legend(ncol=2, loc="lower right", frameon=True)
ax.set(xlim=len(top_15_by_gross), ylabel=" MOVIE ",
       xlabel="Gross in Millions")

## Net and Percentage Values of Gross vs Budget

In [ ]:
#create table with desired k:v pairs
tn_movie_budgets_cuts = tn_movie_budgets[['release_date', 'title', 'production_budget', 'net_domestic', 'net_beyond', 'net_dom_per', 'net_bey_per', 'net_compare_per']]
tn_movie_budgets_cuts

In [ ]:
tn_movie_budgets_cuts.dropna()

In [ ]:
tn_movie_budgets_cuts = tn_movie_budgets[['release_date', 'title', 'production_budget', 'net_domestic', 'net_beyond', 'net_dom_per', 'net_bey_per', 'net_compare_per']]
tn_movie_budgets_cuts.info()

In [ ]:
tn_movie_net_per_returns = tn_movie_budgets_cuts[['title', 'release_date','production_budget','net_dom_per', 'net_bey_per', 'net_compare_per']]
tn_movie_net_per_returns.head()

In [ ]:
type(tn_movie_net_per_returns)

In [ ]:
#sorting K:V pairs looking for top 15 highest return by percentages
tn_movie_net_per_returns_dom_per = tn_movie_net_per_returns.sort_values(['net_dom_per'], ascending = False) 
tn_movie_net_per_returns_15_dom_per = tn_movie_net_per_returns_dom_per.head(15)
tn_movie_net_per_returns_15_dom_per

In [ ]:
tn_movie_net_per_returns_bey_per = tn_movie_net_per_returns.sort_values(['net_bey_per'], ascending = False) 
tn_movie_net_per_returns_15_bey_per = tn_movie_net_per_returns_bey_per.head(15)
tn_movie_net_per_returns_15_bey_per

In [ ]:
import seaborn as sns

In [ ]:
sns.boxplot(data=tn_movie_net_per_returns_15_dom_per.net_dom_per).set(xlabel= 'X Label', ylabel= 'Y Label', title = 'Top 15 Highest Domestic Return in Percentages');

In [ ]:
sns.boxplot(data=tn_movie_net_per_returns_15_bey_per).set(xlabel= 'X Label', ylabel= 'Y Label', title = 'Top 15 Highest Worldwide Return in Percentages');

In [ ]:
movie_basics = pd.read_sql("SELECT * FROM movie_basics;", conn)
movie_basics.info()

In [ ]:
movie_basics['title'] = movie_basics['primary_title']
movie_basics.head()

In [ ]:
directors = pd.read_sql("SELECT * FROM directors;", conn)
directors.head()

In [ ]:
persons = pd.read_sql(''' SELECT * FROM persons;''', conn)
persons.head()

In [ ]:
q= """
SELECT DISTINCT primary_name AS director, runtime_minutes AS run_in_minutes, genres, primary_title As title

FROM persons
JOIN directors
ON persons.person_id = directors.person_id 
JOIN movie_basics
ON movie_basics.movie_id = directors.movie_id
;""" 


imdb_basics = pd.read_sql(q, conn)
print(imdb_basics, "Number of results:", len(imdb_basics))

In [ ]:
imdb_basics.head()

In [ ]:
imdb_basics['genre_list'] = imdb_basics['genres'].str.split(',')

In [ ]:
imdb_basics.head()

In [ ]:
imdb_basics_gen_spread = imdb_basics.explode(['genre_list'])
imdb_basics_gen_spread.head()

In [ ]:
imdb_basics_gen_spread.dropna().head()

In [ ]:
type(imdb_basics_gen_spread)